.Home-body-image{
        background-image: url('../image/HOME.png');
        background-size : cover;
}
.box0{
width: 100%;
margin: 0 auto;
}
.box1{
        width: 50%;
        height: 100%;
}

.box2{
        margin-top: 100px;
        margin-left:15%;
        width: 80%;
        height: 50%;
        font-size: 110px;
        font-weight: 400;
        color: white;
        font-family: 'Nanum Brush Script',cursive;
}
.box3{
        width: 50%;
        height: 100%;
}
.box4{
        width: 60%;
        height: 100%;
}
.box5{
        width: 40%;
        height: 50%;
}
.box6{
        width: 100%;
        height: 50%;
        

}

.box7{
        margin-top: 90px;
        width: 100%;
        height: 100%;
}
.box8{  
        margin: 0 auto;
        margin-top: 90px;
        width: 80%;
        height: 50%;
        background-color: white;
        opacity: 0.6;
        border: 4px solid rgb(223, 220, 220);
        border-radius: 10px;
}
.box8-1{
        margin-left: 20px;
}

.box9{
        color: white;
        margin: 0 auto;
        margin-top: 10px;
        width: 80%;
        height: 50%;
        background-color: rgb(178, 115, 33);
        opacity: 0.8;
        border: 4px solid rgb(223, 220, 220);
        border-radius: 10px;
        background-color: rgba(197, 125, 18, 0.5)
}
.box9-1{
        margin-left: 20px;
}

.box10{
        
        border: 4px solid white;
        border-radius: 10px;
        width: 70%;
        height: 32%;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.5)

}
.box11{
        border: 4px solid white;
        border-radius: 10px;
        margin-top: 10px;
        width: 70%;
        height: 32%;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.5)

        
}
.box12{
        border: 4px solid white;
        border-radius: 10px;
        margin-top: 10px;
        width: 70%;
        height: 32%;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.5)
}