.EmployeeContainer{
    display: grid;
   
	grid-template-columns: repeat(4, 1fr); /* 1fr 1fr 1fr */
    grid-template-rows: repeat(1,1fr);
    width: 100vw;
    height: 70%;
}

.job-box-TeamLeader-container{
    height: 100%;
    width:90%;
    margin: 0 auto;
}

.job-box{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(13, 13, 13);
    border-radius: 5px;
    height: 40%;
    align-items: center;
    border:2px dotted rgb(40, 39, 39);
    /* /* background: rgb(36,36,36); */
    /* background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(97,97,97,0.9598214285714286) 2%, rgba(87,86,86,0.923406862745098) 98%, rgba(36,35,35,1) 100%);  */

}
.job-box-Card{
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
    background-color: white;
    height: 100%;
    
}
.job-Card-flex{
    display: flex;
    border: 1px solid orange;
    border-radius: 10px;
    margin: 0 auto;
    align-items: center;
    height: 95%;
    width: 98%;
    
}
/* .font{
    width: 36.33%;
    height: 50%;
 
    color: white;
    font-size: 20px;
} */
.letter-spacing{
    letter-spacing: 5px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}
.name{
    font-size: 20px;
    font-weight: 800;
}
.name2{
    font-size:10px;
    margin: 5px;

}
.name3{
    font-size: 12px;

}
/*대표님  */

.Employee-EM-Container{
    display: grid;
	grid-template-columns: repeat(2, 1fr); /* 1fr 1fr 1fr */
    grid-template-rows: repeat(4,1fr);
    width: 93%;
    grid-gap: 5px;
    margin: 0 auto;
    margin-top: 17%;
    
}
.job-box-employee-container{

    width:100%;
    margin: 0 auto;
    height: 100px;
}

.job-EM-box{
    border-radius: 10px;
    background-color: white;
    height: 100%;
    border: 1px solid orange;
    box-sizing: border-box;
}
.job-EM-border{
    border-radius: 10px;
    margin: 0 auto;
    /* align-items: center; */
    height: 100%;
    display: flex;
}

.EM-name{
    font-size: 15px;
    font-weight: 800;
}
.EM-name2{
    font-size:10px;


}
.EM-name3{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;

}
.flex{
    display: flex;
}
.img-hight{
    width: 60px;
    height: 70px;
}
.name-center{
    margin-top: 20px;
    margin-left: 10px;
}