.footer-border-box-left{
    width: 40%;
    display: flex;
    align-items: center;

}
.footer-border-box-left-center{
    width: 90%;
    margin: 0 auto;
}
.footer-border-box-style{
    border: 1px solid white;
    border-radius:5px;
    height: 50px;
}
.footer-border{
    color: white;
}

/* footer-left */
.footer-border-box-right{
    width: 60%;    

}
.footer-border-box-right-center{
    margin-top: 2%;

}
/* footer-right */

@media only screen and (min-width:600px) and (max-width:899px){

    .footer-border-box-left{
        display: none;
    }
    .footer-border-box-right{
        width: 100%;
    }
}

@media only screen and (min-width:374px) and (max-width:599px){

    .footer-border-box-left{
        display: none;
    }
    .footer-border-box-right{
       display: flex;
       flex-direction: row;
       width: 100%;
       overflow: scroll;

    }
    
}