
#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }


.swiper {
    position: relative ;
    width: 100%;
    height: 100%;
    --swiper-scrollbar-drag-bg-color:rgb(241, 240, 239);
    --swiper-scrollbar-sides-offset:0% !important;
}
.swiper-scrollbar-drag{
    width:15% !important;

}
.swiper-pagination-bullet {
    border-radius: 0% !important;
}
  .swiper-pagination{
    position: absolute;
    top: 90% !important;
    left: -00px !important;
    text-align: left;
    
    overflow: hidden;
}
  .swiper-slide {
    font-size: 18px;


  }

/* swiper CSS */
.Title-Member-box0{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border-radius:3px;
    height: 6%;
    border: 2px dotted black;
    background: rgb(244, 221, 13);
    background: linear-gradient(90deg, rgb(221, 168, 9) 0%, rgba(230, 133, 6, 0.96) 2%, rgba(246, 173, 2, 0.923) 98%, rgb(225, 182, 6) 100%);


  
    margin-bottom: 3%;
}
.Title-Member-box1{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border-radius:3px;
    height: 6%;
    border: 2px dotted black;
    background: rgb(36,36,36);
    background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(97,97,97,0.9598214285714286) 2%, rgba(87,86,86,0.923406862745098) 98%, rgba(36,35,35,1) 100%);


  
    margin-bottom: 3%;
}
.Title-Member-box1-center{
    font-size: 20px;
    line-height:5vh;
    color: white;
    font-weight: 800;
    letter-spacing:5px;
    height: 80%;
    
    
}
.Member-box1-center{
    background-color: white;
    width: 90%;
    height: 15%;
    margin: 0 auto;
    border-radius: 10px;
    
}
.name{
    font-size: 20px;
    font-weight: 800;
    
}
.name2{
    font-size:7px;
    margin: 5px;
    color: gray;
    

}
.name3{
    font-size: 15px;
    font-size:13px;
    color: gray;


}
.img-hight{
    
    width: 60px;
    height: 6vh;
}
.img-hight2{
    
    width: 70px;
    height: 9vh;
}
.job-Card-flex{
    display: flex;
    border: 2px solid orange;
    border-radius: 10px;
    margin: 0 auto;
    align-items: center;
    height: 90%;
    width: 98%;
    
    position: relative;
    top: 3%;
}
/* 사원 밑  */
.green{
    width: 20px;
    height:20px;
    position: absolute;
    top: 0%;
    right: 0%;
}
.green2-top{
    position: relative;
    top: 3%;
    width:96%;
    height: 80%;
    border-radius: 10px;
    padding-bottom: 2%;
    padding-top: 4%;
    margin: 0 auto;
    border: 2px solid gray;

}

.green2{
    width: 20px;
    height:2vh;
    position: absolute;
    top: 0%;
    right: 0%;
}

.EM-name{
    font-weight: 800;
    font-size: 20px;
}
.EM-name2{
    font-size:13px;
    color: gray;



}
.EM-name3{
    font-size: 10px;
    text-align: left;
    color: gray;


}
.name-center{
    margin-top: 7%;
    margin-left: 5%;
}
.job-EM-box{
    border-radius: 10px;
    background-color: white;
    height: 11vh;
}
.job-box-employee-container{
    margin-top: 7%;
}
.job-EM-border{

    margin: 0 auto;
    /* align-items: center; */
    display: flex;
}
.Member-container{
    display: inline-block;
    width: 44%;
    margin-left: 4%;
}

.oneBoxSizing{
    width: 30%;
}
.twoBoxSizing{
    width: 80%;
}

/* max width를 1713px로 잡기 
ming width도 1700으로 잡기
*/
/* min width는 1700이면 1700이상~  */
/* max width는 1700이면 0~1700까지 */
/* 브레이크 포인트는? */
/* 그리고 화면 크기 지정은 예를 들면 320px보다 크고 480px보다 작을 때, 이런 식으로 정할 수도 있다. 이렇게.
@media only screen and (min-width: 320px) and (max-width: 480px) {
}
 */

 /* 
 바꿀것들 이미지
 범위  1535 밑에 글자를 픽셀 줄이기 - 1200까지

 */
 @media only screen and (min-width:1536px) {
    .EM-name3{
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        line-height: 34px;
    }
    .EM-name{
        margin-top: 10px;
        font-size: 0.6vw;
    }
    .job-EM-border{
        width: 100%;
    }
    .img-hight{
        font-size: 1.1em;
        margin-top: 0.5em;
        width: 3em;
        height: 3em;
    }
    /* em단위 사용하기 
    em 단위ㅣ로 고쳐보기.
    */
    /* 이미지 튀어나오는거,이미지 크기 자동조절하기  */

}
@media only screen and (min-width:1200px) and (max-width:1535px){
    .EM-name3{
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        line-height: 34px;

    }
    .EM-name{
        font-size: 15px;
    }
    .green2-top{
        position: relative;
        top:2%;
        height: 83%;
        width: 93%;
    }


}

@media only screen and (min-width:900px) and (max-width:1199px){

    .EM-name3{
        font-size: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .EM-name2{
        font-size: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .EM-name{
        font-size: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .green2{
        display: none;
    }
    .green{
        display: none;
    }
    .green2-top{
        position: relative;
        top:3%;
        height: 80%;
        width: 90%;
        line-height: 32px;
    }
    .img-hight{
        width: 70px;
    }
    .img-hight2{
        width: 70px;
        margin-right: 5px;
    }
    .name3{
        font-size:12px;
        text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }
    .Member-box1-center{
        height: 13%;
    }
    .job-Card-flex{
        top:1%;
        height: 96%;
    }
    .job-EM-box{
        height: 12vh;
    }
    .green2-top{
        top:1%;
        padding-bottom: 10%;
        
    }
}

@media only screen and (min-width:600px) and (max-width:899px){
        .img-hight2{
            width: 0px;
            height: 0px;
        }
        .green{
            display: none;
        }
        .green2{
            display: none;
        }
        .img-hight{
            display: none;
        }
        .EM-name3{
            display: none;
        }
        .green2-top{
            height: 90%;
            top:0%;
            padding-bottom:5%;
        }
        .job-Card-flex{
            top:0%;
            height: 97%;

        }
        .name3{
            font-size:10px
        }
        .EM-name2{
            font-size: 15px;
            color: gray;
        }

    }
@media only screen and (min-width:374px) and (max-width:599px){

.img-hight{
    display: none;
}
.img-hight2{
    display: none;
}
.name3{
    font-size: 10px;
}
.EM-name3{
    display: none;
}
.header-top-font{
    font-size: 28px;
}
.header-top-left-image{
    width: 30px;
    height: 30px;
}
.header-top-right{
    font-size: 16px;
    height: 30%;

}
.header-top-right-time{
    display: none;
}

.green2{
    display: none;
}
.EM-name{
    font-size: 15px;
}
.job-EM-box{
    height: 7vh;
}
.job-Card-flex{
    top:0%;
    height: 96%;


}
    }
/* 1 화면일때   */
/* 크기 3일때적당. */
.green2-top{
    top:2%;
    height: 92%;
    width: 96%;
    padding-top: 0%;
    padding-bottom:0%;
}

/* max는 5까지고 */
/*
1만 고치면 될듯 1이면 클래스 네임 바꾸자.
5는 폰트 줄이기 

MemberData.length-1 이 1이면 클래스네임을 바꾼다.
대표님 데이터를 컴포넌트 안쪽으로 넣으면 안될려나?
*/